*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

    body{
        background-color:antiquewhite;
        /* text-align: center; */
    }

.container{
    display: flex;
    width: 1000px;
    margin:5% auto ;
    justify-content: center;
}

.image{
    border-radius: 8px 0px 0px 8px;
    width: 300px;
    /* object-fit: cover; */
}

.text--area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: first baseline;
    background-color:white;
    border-radius: 0px 8px 8px 0px;
    padding: 30px;
    width: 320px;
   font-family:'Times New Roman', Times, serif;
}

.perf{
    margin-top: 5px;
    font-weight: bold;
}

.Gabrrielle{
    font-size: larger;
    font-weight: bolder;
    margin-top: -30px;
    text-align: justify;
    column-width: 200px
}

.flora{
    line-height: 29px;
    text-align: justify;
    column-width: 200px
}

.price{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.bigmoney{
    color: #007848;
    font-weight: bolder;
}

.button{
    width: 200px;
    border-radius: 8px;
    background-color: #007848;
    padding: 15px;
    display: flex;
    justify-content: center;
    border: 2px solid #007848;
}

.button:hover{
    cursor: pointer;
    background-color: #007848;
}

svg{
    width: 17px;
    margin-right: 10px;
    color: white;
}


.cart--text{
    color: white;
}